
@import url('https://fonts.cdnfonts.com/css/press-start-2p');

body {
    background-color: rgb(8, 92, 39);
    background-image: url(../images/flags.png);
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 16px;
    margin: 0;
}

.título {
    background-color: rgb(199, 230, 99);
    color: rgb(31, 91, 53);
    text-align: center;
    font-size: 10pt;
    padding-top: 35px;
    padding-bottom: 35px;
}

main {
    background-color: rgb(66, 143, 96);
    border-radius: 10px;
    font-size: 12pt;
    padding: 20px;
    min-width: 280px;
    max-width: 750px;   
    margin: auto;
    color: white; 
    margin-top: 100px;
    box-shadow: rgba(219, 252, 111, 0.32) 10px 8px 80px 40px;
    border: 3px solid rgb(228, 255, 137);
}

h2 {
    font-size: 108%;
}

.Resultado {
    background-color: rgb(199, 230, 99);
    color: rgb(31, 91, 53);
    border-radius: 10px;  
    padding: 20px;
    margin-top: 30px;
}

.interatividade {
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 8px;
    border: 3px solid greenyellow;
    margin: 2px;
}

footer {
    text-align: center;
    font-size: 70%;
    color: white;
}

a {
    color: greenyellow;
    background-color: rgba(172, 255, 47, 0.250) ;
    border: 4px solid rgba(172, 255, 47, 0.350) ;
    border-radius: 4px;
}