
@import url('https://fonts.cdnfonts.com/css/press-start-2p');

body {
    background-color: rgb(31, 91, 53);
    color: white;
    font-size: 20px; 
    font-family: 'Press Start 2P', sans-serif;
    border: 7px solid rgb(159, 234, 46);
    border-radius: 16px;
    min-width: 280px;
    max-width: 1000px;   
    margin: auto;
    margin-top: 55px;
    box-shadow:
    0 0 40px 20px rgb(15, 47, 3),  
    0 0 100px 60px rgb(35, 65, 46), 
    0 0 140px 100px rgb(28, 116, 40); 
}

.título {
    background-color: rgb(219, 252, 111);
    color: rgb(31, 91, 53);
    font-size: 45%;
    border-radius: 10px;
    padding: 15px;
}

main {
    background-color: rgb(66, 143, 96);
    border-radius: 10px;
    font-size: 65%;
    margin-top: 15px;
    padding: 25px;  
}

h2 {
    font-size: 110%;
}

.Resultado {
    width: 90%;
    height: 55%;
    background-color: rgb(219, 252, 111);
    color: rgb(31, 91, 53);
    border-radius: 10px;  
    padding: 15px;
    margin-top: 30px;
    box-shadow: 4px 4px 15px  black;
}

.interatividade {
    font-size: 125%;
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 8px;
    box-shadow: 4px 4px 15px  black;
    border: 2.5px solid greenyellow;
    max-width: 245px;
}

footer {
    text-align: center;
    font-size: 70%;
}

a {
    text-decoration: none;
    color: greenyellow;
    border: 4px solid rgba(172, 255, 47, 0.213) ;
    border-radius: 4px;
}